.navbar {
    margin: 10px 15%;
}

.row {
	margin: 5px 15%;
}

.slide {
    margin: 20px auto;
}

.contact {
    text-align: center;
}

.aboutme {
	margin: 10px 15%;
	color: green;
}

